<!DOCTYPE html>
<div th:replace="layouts/header :: header"></div>

<!--/ menu  -->
<div class="main_content_iner ">
	<div class="container-fluid p-0">
		<div class="row justify-content-center">
			<div class="col-lg-12">
				<div class="white_card card_height_100 mb_30">
					<div class="white_card_header">
						<div class="box_header m-0">
							<div class="main-title">
								<h3 class="m-0">Gestionnaire</h3>
							</div>
						</div>
					</div>
					<div class="white_card_body">
						<div class="QA_section">
							<div class="white_box_tittle list_header">

								<div class="box_right d-flex lms_block">
									<div class="serach_field_2">
										<div class="search_inner">
											<form Active="#">
												<div class="search_field">
													<input type="text" placeholder="Search content here...">
												</div>
												<button type="submit">
													<i class="ti-search"></i>
												</button>
											</form>
										</div>
									</div>
									<div class="add_button ml-10">
										<a href="#" data-toggle="modal" data-target="#addcategory"
											class="btn_3">Search</a>
									</div>
								</div>

								<div class="add_button ml-10">
									<a href="#" th:href="@{gestionnaire/addForm}" class="btn_1">Nouveau
										gestionnaire</a>
								</div>
							</div>

							<div class="QA_table mb_30">
								<!-- table-responsive -->
								<div class="alert alert-danger text" th:if="${danger}"
										th:text="${danger}"></div><br/>
								<div class="alert alert-success text" th:if="${success}"
										th:text="${success}"></div><br/>
								<table class="table lms_table_active3 ">
									<thead>
										<tr>
											<th scope="col">#</th>
											<th scope="col">Nom</th>
											<th scope="col">Password</th>
											<th scope="col">Role</th>
											<th scope="col">Caisse</th>
											<th scope="col">Actions</th>
										</tr>
									</thead>
									<tbody>
										<tr th:if="${gestionnaires.empty}">
											<td colspan="5">Aucune information disponible
												actuellement ...</td>

										</tr>
										<tr th:each="g : ${gestionnaires}">
											<td><span th:text="${g.idGestionnaire}"> </span></td>
											<td><span th:text="${g.utilisateur}"> </span></td>
											<td><span>*****************</span></td>
											<td><span style="color:green;font-weight: bold;" th:text="${#strings.toUpperCase(g.role)}"> </span></td>
											<td><span th:text="${g.Caisse.libelle}"> </span></td>
											<td>
											<!--
											<a href="#"
												th:href="@{gestionnaire_updateForm/{id}(id=${g.idGestionnaire})}">
													<i class="fa fa-edit"></i>
											</a>
											 -->
											 <a
												th:href="@{gestionnaire/delete/{id}(id=${g.idGestionnaire})}">
													<i class="fa fa-trash"></i>
											</a></td>
										</tr>

									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>

<!-- footer part -->
<div th:replace="layouts/footer :: footer"></div>


</body>
