<!DOCTYPE html>
<div th:replace="layouts/header :: header"></div>

    <!--/ menu  -->
    <div class="main_content_iner ">
        <div class="container-fluid p-0">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="white_card card_height_100 mb_30">
                        <div class="white_card_header">
                            <div class="box_header m-0">
                                <div class="main-title">
                                    <h3 class="m-0">SUPPORT</h3>
                                </div>
                            </div>
                           <hr>
                        </div>
                        
                        <div class="white_card_body">
                            <div class="QA_section">
                                <div class="white_box_tittle list_header">
                                    
                                    <div class="box_right d-flex lms_block">
                                        <div class="serach_field_2">
                                            <div class="search_inner">
                                                <img th:src="@{/img/iconAMH.png}" alt="">
                                            </div>
                                        </div>
                                       
                                    </div>
                                    
                                    
                                </div>
        
                                <div class="QA_table mb_30">
                                    Team DevOps AMH Douala
                                    <p>Application pour la gestion et le suivi centralisé des caisses des surcussales AMH de Douala et de Yaounde.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

<!-- footer part -->
    <div th:replace="layouts/footer :: footer"></div>


</body>
