<!DOCTYPE html>
<div th:replace="layouts/header :: header"></div>

    <!--/ menu  -->
    <div class="main_content_iner ">
        <div class="container-fluid p-0">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="white_card card_height_100 mb_30">
                        <div class="white_card_header">
                            <div class="box_header m-0">
                                <div class="main-title">
                                    <h3 class="m-0">Caisses</h3>
                                </div>
                            </div>
                        </div>
                        
                        
                        <div class="white_card_body">
                            <div class="QA_section">
                                <div class="white_box_tittle list_header">
                                    
                                    <div class="box_right d-flex lms_block">
                                        <div class="serach_field_2">
                                            <div class="search_inner">
                                                <form Active="#" th:action="@{/caisse_search}" method="get">
                                                    <div class="search_field">
                                                        <input type="text" name="caisse" th:value="${caisse}" placeholder="Search content here...">
                                                    </div>
                                                    <button type="submit"> <i class="ti-search"></i> </button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div sec:authorize="hasAnyAuthority('admin')" class="add_button ml-10">
                                            <a href="#" th:href="@{add_caisse}" class="btn_1">Nouvelle caisse</a>
                                    </div>
                                </div>
                        
                        
        
                                <div class="QA_table mb_30">
                                    <!-- table-responsive -->
                                    <table class="table lms_table_active3 ">
                                        <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Code</th>
                                                <th scope="col">Caisse</th>
                                                <th scope="col">Solde</th>
                                                <th scope="col">Derniere activite</th>
                                                <th scope="col">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        	<tr th:if="${caisses.empty}">
                                                <td colspan="5">Aucune caisse disponible actuellement ...</td>
                                            </tr>
                                            <tr th:each="c,i : ${caisses}" th:if="${c.libelle == 'AMH Douala'}" sec:authorize="hasAnyAuthority('admin','USERDLA')">
                                            	<td><span th:text="${i.count}"> 1 </span></td>
                                            	<td><span th:text="${c.codeCaisse}"> </span></td>
                                                <td><span th:text="${c.libelle}"> </span></td>
                                                <td><span th:text="${c.montantEnCaisse}+FCFA"> </span></td>
                                                <td><span th:text="${#temporals.format(c.dateEtatCaisse, 'dd-MM-yyyy HH:mm')}">  </span></td>
                                                <td>
                                                	<a sec:authorize="hasAnyAuthority('admin')" href="#" th:href="@{'edit_caisse/'+${c.idCaisse}}"><i class="fa fa-edit"></i></a>
                                                	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                	<a sec:authorize="hasAnyAuthority('admin')" href="#" onclick="confirmer()"><i class="fa fa-trash"></i></a>
                                                </td>
                                            </tr>
                                            
                                            <tr th:each="c,i : ${caisses}" th:if="${c.libelle == 'AMH Yaounde'}" sec:authorize="hasAnyAuthority('admin','USERYDE')">
                                            	<td><span th:text="${i.count}"> 1 </span></td>
                                            	<td><span th:text="${c.codeCaisse}"> </span></td>
                                                <td><span th:text="${c.libelle}"> </span></td>
                                                <td><span th:text="${c.montantEnCaisse}+FCFA"> </span></td>
                                                <td><span th:text="${#temporals.format(c.dateEtatCaisse, 'dd-MM-yyyy HH:mm')}">  </span></td>
                                                <td>
                                                	<a sec:authorize="hasAnyAuthority('admin')" href="#" th:href="@{'edit_caisse/'+${c.idCaisse}}"><i class="fa fa-edit"></i></a>
                                                	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                	<a sec:authorize="hasAnyAuthority('admin')" href="#" onclick="confirmer()"><i class="fa fa-trash"></i></a>
                                                </td>
                                            </tr>
                                            
                                            
                                           
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

<!-- footer part -->
    <div th:replace="layouts/footer :: footer"></div>


</body>
