<!DOCTYPE html>
<!-- header  -->

<div th:replace="layouts/header :: header"></div>

<div class="main_content_iner overly_inner ">
	<div class="container-fluid p-0 ">
		<!-- page title  -->
		<div class="row">
			<div class="col-12">
				<div
					class="page_title_box d-flex flex-wrap align-items-center justify-content-between">
					<div class="page_title_left">
						<h3 class="mb-0">Dashboard</h3>
					</div>
					<div class="monitor_list_widget">
						<div sec:authorize="hasAnyAuthority('admin','USERDLA')"
							class="simgle_monitor_list">
							<div class="simgle_monitor_count d-flex align-items-center">
								<span>Solde AMH Douala</span>
								<div id="monitor_1"></div>
							</div>
							<h4>
								<span class="counter" th:text="${sommeCaisseDla}"></span> FCFA
							</h4>
						</div>
						<div sec:authorize="hasAnyAuthority('admin','USERYDE')"
							class="simgle_monitor_list">
							<div class="simgle_monitor_count d-flex align-items-center">
								<span>Solde AMH Yaounde</span>
								<div id="monitor_2"></div>
							</div>
							<h4>
								<span class="counter" th:text="${sommeCaisseYde}"></span> FCFA
							</h4>
						</div>
						<div sec:authorize="hasAnyAuthority('admin')"
							class="simgle_monitor_list">
							<div class="simgle_monitor_count d-flex align-items-center">
								<span>Solde General</span>
								<div id="monitor_3"></div>
							</div>
							<h4>
								<span class="counter" th:text="${sommeCaisseYde+sommeCaisseDla}">0
								</span> FCFA
							</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xl-12">
				<div class="white_card  mb_30">

					<div class="white_card_body anlite_table p-0">
						<div class="row " sec:authorize="hasAnyAuthority('admin')">
							<div class="col-lg-4">
								<div class="single_analite_content">
									<h4>Caisses</h4>
									<h3>
										<span class="counter" th:text="${nbreCaisse}"></span>
									</h3>
									<div class="d-flex"></div>
								</div>
							</div>
							<div class="col-lg-4">
								<div class="single_analite_content">
									<h4>Gestionnaires</h4>
									<h3>
										<span class="counter" th:text="${nGestionnaire}">0</span>
									</h3>
									<div class="d-flex"></div>
								</div>
							</div>
							<div class="col-lg-4">
								<div class="single_analite_content">
									<h4>Personnel</h4>
									<h3>
										<span class="counter" th:text="${nPersonnel}"></span>
									</h3>
									<div class="d-flex"></div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-6"
				sec:authorize="hasAnyAuthority('admin','USERDLA')">
				<div class="white_card mb_30 card_height_100">
					<div class="white_card_header ">
						<div class="box_header m-0">
							<div class="main-title">
								<h3 class="m-0">Caisse AMH Douala</h3>
							</div>

						</div>
					</div>
					<div class="white_card_body pt-0">
						<div class="QA_section">
							<div class="QA_table mb-0 transaction-table">
								<!-- table-responsive -->
								<div class="table-responsive">
									<table class="table ">
										<tbody>
											<tr>
												<td><span class="badge badge-danger">Sortie de
														caisse</span></td>
												<td><span th:text="${sommeDepenseDouala}"></span> FCFA
												</td>
												<td><span class="sold-thumb"><i
														class="ti-arrow-up"></i></span></td>

											</tr>
											<tr>
												<td><span class="badge badge-success">Approvisionnement
														recent</span></td>
												<td><span th:text="${sommeApproDla}"></span> FCFA</td>
												<td><span class="buy-thumb"><i
														class="ti-arrow-down"></i></span></td>

											</tr>
											<tr>
												<td>SOLDE</td>
												<td><h4>
														<span th:text="${sommeCaisseDla}"></span> FCFA
													</h4></td>
												<td>&nbsp;&nbsp;</td>
											</tr>

										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-6"
				sec:authorize="hasAnyAuthority('admin','USERYDE')">
				<div class="white_card mb_30 card_height_100">
					<div class="white_card_header ">
						<div class="box_header m-0">
							<div class="main-title">
								<h3 class="m-0">Caisse AMH Yaounde</h3>
							</div>

						</div>
					</div>
					<div class="white_card_body pt-0">
						<div class="QA_section">
							<div class="QA_table mb-0 transaction-table">
								<!-- table-responsive -->
								<div class="table-responsive">
									<table class="table  ">
										<tbody>
											<tr>
												<td><span class="badge badge-danger">Sortie de
														caisse</span></td>
												<td><span th:text="${sommeDepenseYde}"></span> FCFA</td>
												<td><span class="sold-thumb"><i
														class="ti-arrow-up"></i></span></td>

											</tr>
											<tr>
												<td><span class="badge badge-success">Approvisionnement
														recent</span></td>
												<td><span th:text="${sommeApproYde}"></span> FCFA</td>
												<td><span class="buy-thumb"><i
														class="ti-arrow-down"></i></span></td>

											</tr>
											<tr>
												<td>SOLDE</td>
												<td><h4>
														<span th:text="${sommeCaisseYde}"></span> FCFA
													</h4></td>
												<td>&nbsp;&nbsp;</td>
											</tr>

										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-12">
				<div
					class="page_title_box d-flex flex-wrap align-items-center justify-content-between">
					<div class="page_title_left mb_10">
						<h3 class="mb-0">ETAT GENERAL DES CAISSES</h3>
						<p>Vue statistique des caisses.</p>
					</div>
					<div class="page_title_right">
						<div class="dropdown CRM_dropdown  mr_5 mb_10">
							<form Active="#" th:action="@{/historique_depenses_search}"
								method="get">
								<table>
									<tr>
										<td><select name="search" class="form-control mb_10">
												<option value="2022-01">Janvier</option>
												<option value="2022-02">Fevrier</option>
												<option value="2022-03">Mars</option>
												<option value="2022-04">Avril</option>
												<option value="2022-05">Mai</option>
												<option value="2022-06">Juin</option>
												<option value="2022-07">Juillet</option>
												<option value="2022-08">Aout</option>
												<option value="2022-09">Septembre</option>
												<option value="2022-10">Octobre</option>
												<option value="2022-11">Novembre</option>
												<option value="2022-12">Decembre</option>
												<option value="#">-----2021-----</option>
												<option value="2021-06">Juin</option>
												<option value="2021-07">Juillet</option>
												<option value="2021-08">Aout</option>
												<option value="2021-09">Septembre</option>
												<option value="2021-10">Octobre</option>
												<option value="2021-11">Novembre</option>
												<option value="2021-12">Decembre</option>
										</select></td>
										<td>
											<button class="white_btn mb_10" type="submit">
												Filtrer par mois</button>
										</td>
									</tr>

								</table>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-8"></div>
			<div class="col-xl-4">
				<div class="white_card card_height_100 mb_30"></div>
			</div>
			<div class="col-xl-12">
				<div class="white_card card_height_100 mb_30">
					<div class="white_card_header">
						<div class="box_header m-0">
							<div class="main-title">
								<h3 class="m-0">APPROVISIONNEMENT DE CAISSE</h3>
							</div>
							<div class="header_more_tool">
								<div class="dropdown">
									<span class="dropdown-toggle" id="dropdownMenuButton"
										data-toggle="dropdown"> <i class="ti-more-alt"></i>
									</span>
									<div class="dropdown-menu dropdown-menu-right"
										aria-labelledby="dropdownMenuButton">
										<a class="dropdown-item" href="#"> <i class="ti-eye"></i>
											Action
										</a> <a class="dropdown-item" href="#"> <i class="ti-trash"></i>
											Delete
										</a> <a class="dropdown-item" href="#"> <i class="fas fa-edit"></i>
											Edit
										</a> <a class="dropdown-item" href="#"> <i class="ti-printer"></i>
											Print
										</a> <a class="dropdown-item" href="#"> <i
											class="fa fa-download"></i> Download
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="white_card_body">
						<div class="QA_section">
							<div class="QA_table mb-0 transaction-table">
								<div class="table-responsive">
									<table class="table lms_table_active3">
										<thead>
											<tr>
												<th scope="col">#</th>
												<th scope="col">Code</th>
												<th scope="col">Caisse</th>
												<th scope="col">Gestionnaire</th>
												<th scope="col">Ancien solde</th>
												<th scope="col">Approvisionnement</th>
												<th scope="col">Nouveau solde</th>
												<th scope="col">Date d'approvisionnement</th>
											</tr>
										</thead>
										<tbody>
											<tr th:if="${historiqueAppro.empty}">
												<td colspan="5">Aucun approvisionnement disponible
													actuellement ...</td>
											</tr>
											<tr th:each="h,i : ${historiqueAppro}"
												th:if="${h.caisse.codeCaisse == '571200'}"
												sec:authorize="hasAnyAuthority('admin','USERYDE')">
												<td><span th:text="${i.count}"> 1 </span></td>
												<td><span th:text="${h.caisse.codeCaisse}"> </span></td>
												<td><span th:text="${h.caisse.libelle}"> </span></td>
												<td><span th:text="${h.gestionnaireCaisse.utilisateur}">
												</span></td>
												<td><span th:text="${h.lastMontantCaisse}+ FCFA">
												</span></td>
												<td><span th:text="${h.montantApproCaisse}+ FCFA">
												</span></td>
												<td><span
													th:text="${h.montantApproCaisse+h.lastMontantCaisse}+ FCFA">
												</span></td>
												<td><span
													th:text="${#temporals.format(h.dateApprovisionnement, 'dd-MM-yyyy HH:mm')}">
												</span></td>
											</tr>

											<tr th:each="h,i : ${historiqueAppro}"
												th:if="${h.caisse.codeCaisse == '571100'}"
												sec:authorize="hasAnyAuthority('admin','USERDLA')">
												<td><span th:text="${i.count}"> 1 </span></td>
												<td><span th:text="${h.caisse.codeCaisse}"> </span></td>
												<td><span th:text="${h.caisse.libelle}"> </span></td>
												<td><span th:text="${h.gestionnaireCaisse.utilisateur}">
												</span></td>
												<td><span th:text="${h.lastMontantCaisse}+ FCFA">
												</span></td>
												<td><span th:text="${h.montantApproCaisse}+ FCFA">
												</span></td>
												<td><span
													th:text="${h.montantApproCaisse+h.lastMontantCaisse}+ FCFA">
												</span></td>
												<td><span
													th:text="${#temporals.format(h.dateApprovisionnement, 'dd-MM-yyyy HH:mm')}">
												</span></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-12">
			<div class="white_card mb_30 card_height_100">
				<div class="white_card_header ">
					<div class="box_header m-0">
						<div class="main-title">
							<h3 class="m-0">SORTIE DE CAISSES</h3>
						</div>
						<a href="#">
							<p>View all</p>
						</a>
					</div>
				</div>
				<div class="white_card_body pt-0">
					<div class="QA_section">
						<div class="QA_table mb-0 transaction-table">
							<!-- table-responsive -->
							<div class="table-responsive">
								<table class="table lms_table_active3">
									<thead>
										<tr>
											<th scope="col">#</th>
											<th scope="col">Code</th>
											<th scope="col">Caisse</th>
											<th scope="col">Gestionnaire</th>
											<th scope="col">Personnel</th>
											<th scope="col">Montant</th>
											<th scope="col">motif</th>
											<th scope="col">Date de l'operation</th>
										</tr>
									</thead>
									<tbody>
										<tr th:if="${depenses.empty}">
											<td colspan="5">Aucune depense disponible actuellement
												...</td>
										</tr>
										<tr th:each="d,i : ${depenses}"
											th:if="${d.caisse.codeCaisse == '571100'}"
											sec:authorize="hasAnyAuthority('admin','USERDLA')">
											<td><span th:text="${i.count}"> 1 </span></td>
											<td><span th:text="${d.caisse.codeCaisse}"> </span></td>
											<td><span th:text="${d.caisse.libelle}"> </span></td>
											<td><span th:text="${d.GestionnaireCaisse.utilisateur}">
											</span></td>
											<td><span th:text="${d.personnel.nom}"> </span></td>
											<td><span th:text="${d.montant}+ FCFA"> </span></td>
											<td><span th:text="${d.motif}"> </span></td>
											<td><span
												th:text="${#temporals.format(d.dateDepense, 'dd-MM-yyyy HH:mm')}"></span></td>
										</tr>

										<tr th:each="d,i : ${depenses}"
											th:if="${d.caisse.codeCaisse == '571200'}"
											sec:authorize="hasAnyAuthority('admin','USERYDE')">
											<td><span th:text="${i.count}"> 1 </span></td>
											<td><span th:text="${d.caisse.codeCaisse}"> </span></td>
											<td><span th:text="${d.caisse.libelle}"> </span></td>
											<td><span th:text="${d.GestionnaireCaisse.utilisateur}">
											</span></td>
											<td><span th:text="${d.personnel.nom}"> </span></td>
											<td><span th:text="${d.montant}+ FCFA"> </span></td>
											<td><span th:text="${d.motif}"> </span></td>
											<td><span
												th:text="${#temporals.format(d.dateDepense, 'dd-MM-yyyy HH:mm')}"></span></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>

<!-- footer  -->
<div th:replace="layouts/footer :: footer"></div>

</body>

</html>
